* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    line-height: normal;
    font: 16px Roboto;
    transition: all .4s ease;
}
body {
    background: #181818;
    display: flex;
    flex-flow: row wrap;
    /*! width: 100vw; */
    /*! height: 100vh; */
    color: #ffffff;
}
tests {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    padding: 8px;
}
test {
    display: flex;
    flex-flow: column nowrap;
    /*! padding: 8px; */
    margin-bottom: 8px;
    background: #242424;
    border-radius: 8px;
}
test question {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    margin: 8px;
}
test answers {
    display: flex;
    flex-flow: column wrap;
    flex: 3;
    margin-bottom: 8px;
}
test answers answer {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    /*! padding: 0 0 4px 0; */
    /*! background: #00b900; */
    border-radius: 4px;
    /*! margin-bottom: 4px; */
    position: relative;
    padding: 4px;
}
test answers answer input:checked[right] +label::before {
    background: #00b900;
}
test answers answer input:checked[wrong] +label::before {
    background: #b90000;
}
test answers answer input {
    margin: 0 9px 0 4px;
    z-index: 10;
}
test answers answer label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*! border-radius: 4px; */
    z-index: -1;
    opacity: .2;
    background: #ffffff00;
}
test answers answer label {
    z-index: 1;
}